.form-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.form-wrapper {
    width: 90%;
    max-width: 400px; /* Максимальная ширина формы */
    padding: 2rem;
    border-radius: 8px;
    background-color: #fff; /* Добавлен фон для формы */
}

.form-title {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.form-input {
    margin-bottom: 1rem;
    padding: 0.5rem;
    width: 100%;
}

.form-submit {
    padding: 0.75rem 1.5rem;
    border: none;
    background-color: #007bff;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
}

.form-overlay {
    z-index: 9999;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: transparent;
    border: none;
    font-size: 30px; /* Уменьшен размер кнопки закрытия */
    color: #555;
    cursor: pointer;
}

.close-button:hover {
    color: #fff;
}

/* Медиа-запрос для мобильных устройств с максимальной шириной 480px */
@media only screen and (max-width: 480px) {
    .form-wrapper {
        width: 90%;
        max-width: 300px; /* Уменьшена максимальная ширина формы */
        padding: 1rem; /* Уменьшен отступ внутри формы */
        border-radius: 4px; /* Уменьшен радиус границы формы */
    }

    .form-title {
        font-size: 1.2rem; /* Уменьшен размер заголовка формы */
    }

    .form-submit {
        padding: 0.5rem 1rem; /* Уменьшен отступ внутри кнопки отправки */
        font-size: 0.9rem; /* Уменьшен размер шрифта кнопки отправки */
    }

    .close-button {
        font-size: 20px; /* Уменьшен размер кнопки закрытия */
    }
}
